{% extends "base.html" %}
{% load static %}
{% block content %}


<br><br><br>
<main class="main">
  
<div class="page-title py-5 mb-5" style="background-color: #004aad;">
  <div class="container text-white">
    <h1 class="display-4 text-white fw-bold text-center" style="font-size: 35px;">Blog Details</h1>
    <p class="lead mb-0 text-white text-center" style="font-size: 16px;">
     From real wedding features and location deep-dives to practical planning guides <br>and trend
    reports — everything you need to plan the most beautiful day of your life.
    </p>
  </div>
</div>


  <!-- Blog Post Detail -->
  <div class="row">
    <div class="col-lg-8 offset-lg-2">

      <div class="card shadow-sm mb-4">
        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
        <div class="card-body">
          <h1 class="card-title fw-bold">{{ post.title }}</h1>
          <p class="text-muted mb-3">By {{ post.author }} | {{ post.publish_date|date:"M d, Y" }}</p>
          <div class="card-text">
            {{ post.content|linebreaks }}
          </div>
        </div>
      </div>

      <!-- Back Button -->
        <div class="text-center">
        <a href="{% url 'blog' %}" class="btn btn-primary text-white" style="background-color: #004aad;">
            Back to Blog
        </a>
        </div>

    </div>
  </div>

</main><br>

{% endblock %}